<h1>THIS IS THE SECRET PAGE</h1>

<p>You found me!</p>

<img src="https://images.unsplash.com/photo-1475518112798-86ae358241eb?auto=format&fit=crop&w=1350&q=80">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>